form {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.title {
  text-align: center;
  text-decoration: underline;
  letter-spacing: 4px;
}
.formInputs {
  margin-top: 20px;
}

.subButton {
  width: 100px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
