@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

.searchslangInput {
  display: flex;
    flex-direction: column;
  justify-content: center;
}
.searchSlang {
  text-align: center;
  margin-top: 10px;
}

.searchbarr {
  margin-top: 4px;
  margin-right: auto;
  margin-left: auto;
  width: 300px;
}

.postlist{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cards{
    color: yellow;
    background-color: black;
    margin-left: 20px;
    margin-top: 20px;
    height: 100px;
    margin-top: 10px;
    width: 250px;
}