@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.Welcomescreen {
  font-display: flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 40px;
  text-align: center;
  color: black;
  font-size: 50px;

}